$assets: "~@/assets/";
.bk-main-card {
  display: flex;
  justify-content: space-between;
  // align-items: center;
  padding: 18px;
  overflow: unset;
}
.background {
  background: url($assets + "/images/space.jpg") no-repeat center center fixed;
  height: 100vh;
}
